<div class="header-bg">
  <div class="imgcont wraper">
    <%= render 'partials/menu' %>

    <div class="covertext">
    <% if new then %>
      <h3>reciente</h3>
    <% end %>
      <h1><%= article.title %></h1>
    </div>
    <div class="gradient">
      <%= image_tag article.cover_image, class: 'imgback' %>
    </div>
  </div>
</div>
