<nav class="navigation">
  <ul>
    <li><%= link_to 'Inicio', '#' %></li>
    <li><%= link_to 'Tutoriales', '#' %></li>
    <li><%= link_to 'Videos', '#' %></li>
    <li><%= link_to 'Sobre nosotros', '#' %></li>
  </ul>
</nav>