<header>
  <%= render 'partials/cover', article: @first_article %>
</header>


<section>
  <div class="title">
    <h2>Tutoriales recientes</h2>
  </div>
  <%= render 'partials/articles' %>
</section>

<div class="yt-box">
  <div class="content yt-di">
    <div class="content yt-text direction">	
      <h3>Aprende a programar con videotutoriales</h3>
      <h4>!Nuevo video todas las semanas!</h4>
    </div>

    <div class="direction yt-img">

      <%= image_tag 'youtube.svg', class: 'yt-img' %>
    </div>
  </div>
</div>